/* override font color */
.ql-editor{
	color: #3d3d3d;
	font-size:14px;
	min-height: 200px;

}

.ql-editor p, .ql-editor ul, .ql-editor pre{margin-bottom: 15px;}

.ql-editor ul li {margin-bottom: 10px;}

.ql-snow .ql-editor pre.ql-syntax {
    background-color: #f0f0f0;
    color: #080808;
}